@model Shopping.Data.Entities.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

 <partial name ="_CategoryDetails"/>
<div>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Back to List</a>
</div>
