
@{
    ViewData["Title"] = "Error404";
}

<h1 class="text-center text-danger">Error404</h1>

<p class= "text-center">
<img src="~/Images/404-Page-Not-Found.png" height="260px" width="250px"/>
<h4 class="text-center">The page that you are looking for was not found!!!</h4>
</p>
