@model IEnumerable<Shopping.Data.Entities.Category>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-light text-center"> 
  <img src="~/Images/Dinos3D2.png" height="180px" />
  <p class="text-center text-danger">
      <h3 class="text-navy">Your One Stop Shop Store</h3><br />
  </p>
</div>
  
 <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      @foreach (var item in Model) {
  <div class="col">
    <div class="card h-100">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-navy"> @Html.DisplayFor(modelItem => item.Name)</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer text-center">
          <a href="#" class="btn btn-sm btn-primary">View Details</a>
      </div>
    </div>
  </div>
  }
  </div> 
  



