@model Shopping.ViewModels.RecoverPasswordViewModel 

@{
    ViewData["Title"] = "Recover Password";
}

<div class="container">
    <div class="card">
        <h5 class="card-header"><i class="fa-solid fa-key text-navy"></i> Forgot Password?</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">

                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-sm btn-default text-navy"><i class="fa fa-save text-navy"></i> Recover Password</button>
                            <a asp-action="Login" class="btn btn-sm btn-default text-navy"><i class="fa-solid fa-recycle text-navy"></i> Back to login</a>
                        </div>
                    </form>
                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>