@model Shopping.ViewModels.CreateProductViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categories" />
            <partial name="_CreateProduct"/>
            <div class="form-group mt-2">
                 <button type="submit" value="Save" class="btn btn-sm btn-default"><i class="fa fa-save fa-solid text-danger"></i> Save</button>
                <a asp-action="Index" class="btn btn-sm btn-default"><i class="fa fa-recycle text-danger"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}